html {
  height: 100%;
  font-size: 16px;
  background: url(../Assets/Background.png);
  background-size: cover;
  background-position: center;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  width: 390px;
  background: white;
  margin: 156px auto;
}

h3 {
  font-size: 1.5em;
  color: white;
  padding: 30px;
}

h5 {
  font-size: 0.8em;
  font-weight: 700;
}

h6 {
  font-size: 0.85em;
  color: grey;
  font-weight: 300;
}

p {
  font-size: 0.75em;
}

/***Header***/

.hero-area {
  background: url(../Assets/Pattern.png);
  background-size: cover;
  background-color: #2355f2;
  margin: 0;
  padding: 15px;
  display: flex;
  text-align: center;
}

/***Subcribe***/
.popup-container {
  margin: 0;
}

.subscribe-form {
  margin: 0;
  padding: 0 15px;
}
.subscribe-form h6 {
  text-align: center;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  width: 112px;
  height: 44px;
  font-weight: 600;
}

input[type="email"] {
  width: 56%;
  background-color: rgba(201, 201, 201, 0.329);
  border: 1px solid rgb(219, 219, 219);
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 4px;
  color: rgba(172, 172, 172, 0.623);
}

.user-profile {
  display: flex;
  margin: 0;
  padding: 15px;
}

.user-image {
  padding: 0 35px;
}
.user-name {
}
