html {
   height: 100%; 
   font-size: 16px;
}

body {
    background: url(../Assets/Background.png);
    background-size: cover;
    background-position: center;  
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    color: white;
    padding: 30px;
}

h5 {
    font-size: .85em;
    font-weight: 700;
}

h6 {
    font-size: .85em;
    color: grey;
    font-weight: 300;
}

.popup.container {
width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
/***Header***/

.hero-area {
    display: flex;
    justify-content: center;
    flex: row wrap;
    color: #2355f2;
}



